#container {
    padding: 50px;
    background-color: #EEE;
    }
#container h1 {
    font-size: 48px;
    font-family:sans-serif;
    color: #0080a8;
    }

div div div {
    padding: 10px;
    margin: 10px;
    background-color: #a200ff;
    color: #333;
    display: inline-block;
    font-family: monospace;
    font-size: 32px;
    text-align: center;
    }
